.svn
*.o

# Targets
/libwebgraph.a
/tests/compress_webgraph
/tests/print_webgraph
/tests/print_webgraph_offline
/tests/print_webgraph_sequential
/tests/convert_to_text
# /tests/convert_to_binary_edgelist